{% extends 'account/base.html' %}

{% load static crispy_forms_tags i18n %}

{% block content %}

<div class="d-flex bg-image"
      style="background-image: url('{% static 'image/sign-in-background.jpg' %}');
            background-size: 100% auto;
            min-height: 100vh;
            display: flex;
            align-items: center;"
  >
  <div class="container col-xl-10 col-xxl-8">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start text-white">
        <h1 class="display-4 fw-bold lh-1 mb-3">Your password is now changed.</h1>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
